<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>政策和解读</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">


<!-- Le styles -->
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/Core.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/css/responsive.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/ecms/skin/ecms-resources-wcmskin.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/uxp-pattern.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/docs.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/responsive.css" rel="stylesheet">


<!-- syntaxhighlighter -->
<link href="http://app.aireading.cn/exo-ux/js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css" />
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

		<style>
		
			/*
			*{ margin:0; padding:0; list-style:none;}
			
			a{ 
				text-decoration:none;
			}
			
			a:hover{ 
				text-decoration:none;
			}
			
			.tcdPageCode
			{
				padding: 0px 20px;
				text-align:right;
				color: #ccc;
			}
			
			.tcdPageCode a
			{
				display: inline-block;
				color: #2f5271;
				display: inline-block;
				height: 25px;	
				line-height: 25px;	
				padding: 0 10px;
				margin: 0 2px;
				vertical-align: middle;
			}
			
			.tcdPageCode a:hover
			{
				text-decoration: none;
				color: #fff;
				background-color: #e84c3d;
			}
			
			.tcdPageCode span.current
			{
				display: inline-block;
				height: 25px;
				line-height: 25px;
				padding: 0 10px;
				margin: 0 2px;
				color: #fff;
				background-color: #e84c3d;
				vertical-align: middle;
			}
			
			.tcdPageCode span.disabled
			{	
				display: inline-block;
				height: 25px;
				line-height: 25px;
				padding: 0 10px;
				margin: 0 2px;	
				color: #bfbfbf;
				background: #f2f2f2;
				vertical-align: middle;
			}
			*/
			
			
			
			*{ margin:0; padding:0; list-style:none;}
			
			a{ text-decoration:none;}
			
			a:hover{ text-decoration:none;}
			
			.tcdPageCode{padding: 0px 0px;text-align: right;color: #ccc; font-size:13px;}
			
			.tcdPageCode a{display: inline-block;color: #578DC9;display: inline-block;height: 23px;	line-height: 23px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
			
			.tcdPageCode a:hover{text-decoration: none;border: 1px solid #578DC9;}
			
			.tcdPageCode span.current{display: inline-block;height: 23px;line-height: 23px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #578DC9;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
			
			.tcdPageCode span.disabled{	display: inline-block;height: 23px;line-height: 23px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
		
		</style>



<!-- Le fav and touch icons -->
<script src="http://app.aireading.cn/exo-ux/js/track.js" data-site-id="4f0dc9fef5a1f55508000013" id="gauges-tracker" async="" type="text/javascript"></script>
<script src="http://app.aireading.cn/exo-ux/js/ga.js" async="" type="text/javascript"></script>
<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-146052-10']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
</script>


<style>
	
.container{
	width:92%;
	padding:0;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	
}


.container_left{
	width:78%;
	/*background:#CCCCCC;*/
	float:left;
	display:block;
	padding:0;
	margin:0;
}

.container_right{
	width:20%;
	/*background:#000099;*/
	float:right;
	display:block;
	padding:0;
	margin:0;
}


/******/
.breadcrumb{
	margin-bottom:10px;
}


.btn{
	background:#578DC9;
	color:#FFFFFF;
}
	
	
</style>

</head>

<body>
	
	<div class="container">
	
	<div class="container_left">
		<div style="margin-left:2px;">
			<div class="input-append" style=" width:100%;">
				<div class="btn-group btn-large" style="padding:0; margin:0; width:15%;">
        			<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="width:100%">分类检索
            			<span class="caret" style="margin-top:8px;"></span>
        			</button>
        			<ul class="dropdown-menu">
            			<li><a href="#">全部</a></li>
            			<li><a href="#">本文</a></li>
            			<li><a href="#">标题</a></li>
        			</ul>
    			</div>
				
				<input type="text" style=" width:70%;">
				
				<button class="btn btn-primary dropdown-toggle" type="button" style=" width:15%;">搜索</button>
			
			</div>
		</div>
		
		<div style="margin-left:120px;">
		    <ul class="breadcrumb">
        		<li class="active">级别</li>
				
				<li>
					<span class="uiCheckbox">
  						<input type="checkbox" class="checkbox">
  						<span>国家政策</span>
					</span>
				</li>
				
        		<li>
					<span class="uiCheckbox">
  						<input type="checkbox" class="checkbox">
  						<span>地方政策</span>
					</span>
				</li>
				
    		</ul>
    		<ul class="breadcrumb">
        		<li class="active">部门</li>
				
				<li>
					<span class="uiCheckbox">
  						<input type="checkbox" class="checkbox">
  						<span>工信部</span>
					</span>
				</li>
				
        		<li>
					<span class="uiCheckbox">
  						<input type="checkbox" class="checkbox">
  						<span>财政部</span>
					</span>
				</li>
				
				<li>
					<span class="uiCheckbox">
  						<input type="checkbox" class="checkbox">
  						<span>发改委</span>
					</span>
				</li>
				
				<li>
					<span class="uiCheckbox">
  						<input type="checkbox" class="checkbox">
  						<span>能源局</span>
					</span>
				</li>
                
                <li>
					<span class="uiCheckbox">
  						<input type="checkbox" class="checkbox">
  						<span>北京市</span>
					</span>
				</li>
                
                <li>
					<span class="uiCheckbox">
  						<input type="checkbox" class="checkbox">
  						<span>上海</span>
					</span>
				</li>
				
    		</ul>
                    <ul class="breadcrumb" style="margin-top:10px; margin-bottom:10px;">
                    
                    	<li class="active">发布时间</li>
                        
						<div class="input-append" style="margin-bottom:0px;">
      					
        				<div class="btn-group" style="padding:0; margin-bottom:3px;">
                            <input type="text" data-toggle="dropdown" class="input-mini" style="height:26px; width:50px;"> 
        					<ul class="dropdown-menu" style=" padding:0px;">
            					<div class="uiCalendarComponent uiBox" id="BlockCalendar" style="margin:0px; padding:0px;">
        							<div style="cursor: default" onmousedown="event.cancelBubble = true">
            							<h5 class="title clearfix">
                							<span>January, 2015</span>            							</h5>
            							<table class="weekList">
                <tbody>
                    <tr>
                        <td><font color="red">S</font></td>
                        <td>M</td>
                        <td>T</td>
                        <td>W</td>
                        <td>T</td>
                        <td>F</td>
                        <td>S</td>
                    </tr>
                </tbody>
            </table>
            							<hr>
            							<table cellspacing="0" cellpadding="0" class="weekDays" id="">
                <tbody>
                    <tr><td><a onclick="" class="otherMonth" href="">28</a></td>
                        <td><a onclick="" class="otherMonth" href="">29</a></td>
                        <td><a onclick="" class="otherMonth" href="">30</a></td>
                        <td><a onclick="" class="otherMonth" href="">31</a></td>
                        <td><a onclick="" href="" class="">1</a></td>
                        <td><a onclick="" href="" class="">2</a></td>
                        <td><a onclick="" href="" class="">3</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">4</a></td>
                        <td><a onclick="" href="" class="">5</a></td>
                        <td><a onclick="" href="" class="">6</a></td>
                        <td><a onclick="" href="" class="">7</a></td>
                        <td><a onclick="" href="" class="">8</a></td>
                        <td><a onclick="" href="" class="">9</a></td>
                        <td><a onclick="" href="" class="">10</a></td>
                    </tr>
                    <tr class="currentWeek">
                        <td><a onclick="" href="" class="">11</a></td>
                        <td><a onclick="" href="" class="">12</a></td>
                        <td><a onclick="" href="" class="">13</a></td>
                        <td><a onclick="" href="" class="">14</a></td>
                        <td><a onclick="" href="" class="">15</a></td>
                        <td><a onclick="" href="" class="highLight today">16</a></td>
                        <td><a onclick="" href="" class="">17</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">18</a></td>
                        <td><a onclick="" href="" class="">19</a></td>
                        <td><a onclick="eXo.webui.UICalendar.setDate(2015,1,20)" href="" class="">20</a></td>
                        <td><a onclick="" href="" class="">21</a></td>
                        <td><a onclick="" href="" class="">22</a></td>
                        <td><a onclick="" href="" class="">23</a></td>
                        <td><a onclick="" href="" class="">24</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">25</a></td>
                        <td><a onclick="" href="" class="">26</a></td>
                        <td><a onclick="" href="" class="">27</a></td>
                        <td><a onclick="" href="" class="">28</a></td>
                        <td><a onclick="" href="" class="">29</a></td>
                        <td><a onclick="" href="" class="">30</a></td>
                        <td><a onclick="" href="" class="">31</a></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            							<div class="calendarTimeInput">
                							<span>
                    							<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setHour(this)" value="16" maxlength="2" class="InputTime">:<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setMinus(this)" value="40" maxlength="2" class="InputTime">
                							</span>            							</div>
        							</div>
    							</div>
        					</ul>
    					</div>
                        
                        
						<span style="font-size:15px;padding-left:5px; padding-right:5px;">年--</span>
						<div class="btn-group" style="padding:0;  margin-bottom:3px;">
                            <input type="text" data-toggle="dropdown" class="input-mini" style="height:26px; width:50px;"> 
        					<ul class="dropdown-menu" style=" padding:0px;">
            					<div class="uiCalendarComponent uiBox" id="BlockCalendar" style="margin:0px; padding:0px;">
        							<div style="cursor: default" onmousedown="event.cancelBubble = true">
            							<h5 class="title clearfix">
                							<span>January, 2015</span>            							</h5>
            							<table class="weekList">
                <tbody>
                    <tr>
                        <td><font color="red">S</font></td>
                        <td>M</td>
                        <td>T</td>
                        <td>W</td>
                        <td>T</td>
                        <td>F</td>
                        <td>S</td>
                    </tr>
                </tbody>
            </table>
            							<hr>
            							<table cellspacing="0" cellpadding="0" class="weekDays" id="">
                <tbody>
                    <tr><td><a onclick="" class="otherMonth" href="">28</a></td>
                        <td><a onclick="" class="otherMonth" href="">29</a></td>
                        <td><a onclick="" class="otherMonth" href="">30</a></td>
                        <td><a onclick="" class="otherMonth" href="">31</a></td>
                        <td><a onclick="" href="" class="">1</a></td>
                        <td><a onclick="" href="" class="">2</a></td>
                        <td><a onclick="" href="" class="">3</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">4</a></td>
                        <td><a onclick="" href="" class="">5</a></td>
                        <td><a onclick="" href="" class="">6</a></td>
                        <td><a onclick="" href="" class="">7</a></td>
                        <td><a onclick="" href="" class="">8</a></td>
                        <td><a onclick="" href="" class="">9</a></td>
                        <td><a onclick="" href="" class="">10</a></td>
                    </tr>
                    <tr class="currentWeek">
                        <td><a onclick="" href="" class="">11</a></td>
                        <td><a onclick="" href="" class="">12</a></td>
                        <td><a onclick="" href="" class="">13</a></td>
                        <td><a onclick="" href="" class="">14</a></td>
                        <td><a onclick="" href="" class="">15</a></td>
                        <td><a onclick="" href="" class="highLight today">16</a></td>
                        <td><a onclick="" href="" class="">17</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">18</a></td>
                        <td><a onclick="" href="" class="">19</a></td>
                        <td><a onclick="eXo.webui.UICalendar.setDate(2015,1,20)" href="" class="">20</a></td>
                        <td><a onclick="" href="" class="">21</a></td>
                        <td><a onclick="" href="" class="">22</a></td>
                        <td><a onclick="" href="" class="">23</a></td>
                        <td><a onclick="" href="" class="">24</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">25</a></td>
                        <td><a onclick="" href="" class="">26</a></td>
                        <td><a onclick="" href="" class="">27</a></td>
                        <td><a onclick="" href="" class="">28</a></td>
                        <td><a onclick="" href="" class="">29</a></td>
                        <td><a onclick="" href="" class="">30</a></td>
                        <td><a onclick="" href="" class="">31</a></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            							<div class="calendarTimeInput">
                							<span>
                    							<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setHour(this)" value="16" maxlength="2" class="InputTime">:<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setMinus(this)" value="40" maxlength="2" class="InputTime">
                							</span>            							</div>
        							</div>
    							</div>
        					</ul>
    					</div>
						<span style="font-size:15px;padding-left:5px; padding-right:5px;">年</span>
                        
                        
                        <!---->
                        <span style="font-size:15px;padding-left:5px; padding-right:5px; font-weight:bold; color:#999; font-size:15.5px; vertical-align:middle; padding-bottom:3px;">废止时间</span>
                        <div class="btn-group" style="padding:0; margin-bottom:3px;">
                            <input type="text" data-toggle="dropdown" class="input-mini" style="height:26px; width:50px;"> 
        					<ul class="dropdown-menu" style=" padding:0px;">
            					<div class="uiCalendarComponent uiBox" id="BlockCalendar" style="margin:0px; padding:0px;">
        							<div style="cursor: default" onmousedown="event.cancelBubble = true">
            							<h5 class="title clearfix">
                							<span>January, 2015</span>            							</h5>
            							<table class="weekList">
                <tbody>
                    <tr>
                        <td><font color="red">S</font></td>
                        <td>M</td>
                        <td>T</td>
                        <td>W</td>
                        <td>T</td>
                        <td>F</td>
                        <td>S</td>
                    </tr>
                </tbody>
            </table>
            							<hr>
            							<table cellspacing="0" cellpadding="0" class="weekDays" id="">
                <tbody>
                    <tr><td><a onclick="" class="otherMonth" href="">28</a></td>
                        <td><a onclick="" class="otherMonth" href="">29</a></td>
                        <td><a onclick="" class="otherMonth" href="">30</a></td>
                        <td><a onclick="" class="otherMonth" href="">31</a></td>
                        <td><a onclick="" href="" class="">1</a></td>
                        <td><a onclick="" href="" class="">2</a></td>
                        <td><a onclick="" href="" class="">3</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">4</a></td>
                        <td><a onclick="" href="" class="">5</a></td>
                        <td><a onclick="" href="" class="">6</a></td>
                        <td><a onclick="" href="" class="">7</a></td>
                        <td><a onclick="" href="" class="">8</a></td>
                        <td><a onclick="" href="" class="">9</a></td>
                        <td><a onclick="" href="" class="">10</a></td>
                    </tr>
                    <tr class="currentWeek">
                        <td><a onclick="" href="" class="">11</a></td>
                        <td><a onclick="" href="" class="">12</a></td>
                        <td><a onclick="" href="" class="">13</a></td>
                        <td><a onclick="" href="" class="">14</a></td>
                        <td><a onclick="" href="" class="">15</a></td>
                        <td><a onclick="" href="" class="highLight today">16</a></td>
                        <td><a onclick="" href="" class="">17</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">18</a></td>
                        <td><a onclick="" href="" class="">19</a></td>
                        <td><a onclick="eXo.webui.UICalendar.setDate(2015,1,20)" href="" class="">20</a></td>
                        <td><a onclick="" href="" class="">21</a></td>
                        <td><a onclick="" href="" class="">22</a></td>
                        <td><a onclick="" href="" class="">23</a></td>
                        <td><a onclick="" href="" class="">24</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">25</a></td>
                        <td><a onclick="" href="" class="">26</a></td>
                        <td><a onclick="" href="" class="">27</a></td>
                        <td><a onclick="" href="" class="">28</a></td>
                        <td><a onclick="" href="" class="">29</a></td>
                        <td><a onclick="" href="" class="">30</a></td>
                        <td><a onclick="" href="" class="">31</a></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            							<div class="calendarTimeInput">
                							<span>
                    							<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setHour(this)" value="16" maxlength="2" class="InputTime">:<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setMinus(this)" value="40" maxlength="2" class="InputTime">
                							</span>            							</div>
        							</div>
    							</div>
        					</ul>
    					</div>
                        
                        
						<span style="font-size:15px;padding-left:5px; padding-right:5px;">年--</span>
						<div class="btn-group" style="padding:0;  margin-bottom:3px;">
                            <input type="text" data-toggle="dropdown" class="input-mini" style="height:26px; width:50px;"> 
        					<ul class="dropdown-menu" style=" padding:0px;">
            					<div class="uiCalendarComponent uiBox" id="BlockCalendar" style="margin:0px; padding:0px;">
        							<div style="cursor: default" onmousedown="event.cancelBubble = true">
            							<h5 class="title clearfix">
                							<span>January, 2015</span>            							</h5>
            							<table class="weekList">
                <tbody>
                    <tr>
                        <td><font color="red">S</font></td>
                        <td>M</td>
                        <td>T</td>
                        <td>W</td>
                        <td>T</td>
                        <td>F</td>
                        <td>S</td>
                    </tr>
                </tbody>
            </table>
            							<hr>
            							<table cellspacing="0" cellpadding="0" class="weekDays" id="">
                <tbody>
                    <tr><td><a onclick="" class="otherMonth" href="">28</a></td>
                        <td><a onclick="" class="otherMonth" href="">29</a></td>
                        <td><a onclick="" class="otherMonth" href="">30</a></td>
                        <td><a onclick="" class="otherMonth" href="">31</a></td>
                        <td><a onclick="" href="" class="">1</a></td>
                        <td><a onclick="" href="" class="">2</a></td>
                        <td><a onclick="" href="" class="">3</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">4</a></td>
                        <td><a onclick="" href="" class="">5</a></td>
                        <td><a onclick="" href="" class="">6</a></td>
                        <td><a onclick="" href="" class="">7</a></td>
                        <td><a onclick="" href="" class="">8</a></td>
                        <td><a onclick="" href="" class="">9</a></td>
                        <td><a onclick="" href="" class="">10</a></td>
                    </tr>
                    <tr class="currentWeek">
                        <td><a onclick="" href="" class="">11</a></td>
                        <td><a onclick="" href="" class="">12</a></td>
                        <td><a onclick="" href="" class="">13</a></td>
                        <td><a onclick="" href="" class="">14</a></td>
                        <td><a onclick="" href="" class="">15</a></td>
                        <td><a onclick="" href="" class="highLight today">16</a></td>
                        <td><a onclick="" href="" class="">17</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">18</a></td>
                        <td><a onclick="" href="" class="">19</a></td>
                        <td><a onclick="eXo.webui.UICalendar.setDate(2015,1,20)" href="" class="">20</a></td>
                        <td><a onclick="" href="" class="">21</a></td>
                        <td><a onclick="" href="" class="">22</a></td>
                        <td><a onclick="" href="" class="">23</a></td>
                        <td><a onclick="" href="" class="">24</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">25</a></td>
                        <td><a onclick="" href="" class="">26</a></td>
                        <td><a onclick="" href="" class="">27</a></td>
                        <td><a onclick="" href="" class="">28</a></td>
                        <td><a onclick="" href="" class="">29</a></td>
                        <td><a onclick="" href="" class="">30</a></td>
                        <td><a onclick="" href="" class="">31</a></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            							<div class="calendarTimeInput">
                							<span>
                    							<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setHour(this)" value="16" maxlength="2" class="InputTime">:<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setMinus(this)" value="40" maxlength="2" class="InputTime">
                							</span>            							</div>
        							</div>
    							</div>
        					</ul>
    					</div>
						<span style="font-size:15px;padding-left:5px; padding-right:5px;">年</span>    				</div>
					
					<button class="btn btn-mini" type="button" style="padding:2px 10px;font-size:13px; float:right;">确定</button>
    		</ul>
			
		</div>
		
		
		<div style=" clear:right;">
		</div>
		
		<div style="float:right; font-size:13px; font-weight:bold; margin-top:10px;">
			共有xxx条政策符合要求
		</div>
		
		<div style=" clear:right;">
		</div>
		
		
		<!----------------->
		
        <div class="table-responsive" style="margin-top:10px;">
        	<table class="uiGrid table table-hover table-striped sortable">
        		<thead>
        			<tr> 
        				<th width="180" style="background:#578DC9; color:#FFFFFF;">政策名称</th>
             			<th width="80" style="background:#578DC9; color:#FFFFFF;">文号</th>
                        <th width="120" style="background:#578DC9; color:#FFFFFF;">发布部门</th>
                        <th width="90" style="background:#578DC9; color:#FFFFFF;">发布时间</th>
                        <th width="90" style="background:#578DC9; color:#FFFFFF;">废止时间</th>
                        <th width="80" style="background:#578DC9; color:#FFFFFF;">标签</th>
                 	</tr>
           		</thead>
                                
				<tbody>
                	<tr title="新能源汽车领域有19个重点项目入选，共计划补贴约10.15个亿，重点围绕动力电池与电池管理、电机驱动与电力电子、电动汽车智能化、燃料电池动力系统等6个技术方向，部署38个重点研究任务。">
                    	<td>关于对国家重点研发计划“新能源汽车”等10个重点专项2016年度项目安排进行公示的通知</td>
                        <td>12345</td>
                        <td>工信部</td>
                        <td>2016-01-01</td>
                        <td>2016-12-30</td>
                        <td>新能源汽车 重点专项 政策补贴</td>
                   	</tr>
					
					<tr title="新能源汽车领域有19个重点项目入选，共计划补贴约10.15个亿，重点围绕动力电池与电池管理、电机驱动与电力电子、电动汽车智能化、燃料电池动力系统等6个技术方向，部署38个重点研究任务。">
                    	<td>关于对国家重点研发计划“新能源汽车”等10个重点专项2016年度项目安排进行公示的通知</td>
                        <td>12345</td>
                        <td>工信部</td>
                        <td>2016-01-01</td>
                        <td>2016-12-30</td>
                        <td>新能源汽车 重点专项 政策补贴</td>
                   	</tr>
					
					<tr title="新能源汽车领域有19个重点项目入选，共计划补贴约10.15个亿，重点围绕动力电池与电池管理、电机驱动与电力电子、电动汽车智能化、燃料电池动力系统等6个技术方向，部署38个重点研究任务。">
                    	<td>关于对国家重点研发计划“新能源汽车”等10个重点专项2016年度项目安排进行公示的通知</td>
                        <td>12345</td>
                        <td>工信部</td>
                        <td>2016-01-01</td>
                        <td>2016-12-30</td>
                        <td>新能源汽车 重点专项 政策补贴</td>
                   	</tr>
					
					<tr title="新能源汽车领域有19个重点项目入选，共计划补贴约10.15个亿，重点围绕动力电池与电池管理、电机驱动与电力电子、电动汽车智能化、燃料电池动力系统等6个技术方向，部署38个重点研究任务。">
                    	<td>关于对国家重点研发计划“新能源汽车”等10个重点专项2016年度项目安排进行公示的通知</td>
                        <td>12345</td>
                        <td>工信部</td>
                        <td>2016-01-01</td>
                        <td>2016-12-30</td>
                        <td>新能源汽车 重点专项 政策补贴</td>
                   	</tr>
					
					
					<tr title="新能源汽车领域有19个重点项目入选，共计划补贴约10.15个亿，重点围绕动力电池与电池管理、电机驱动与电力电子、电动汽车智能化、燃料电池动力系统等6个技术方向，部署38个重点研究任务。">
                    	<td>关于对国家重点研发计划“新能源汽车”等10个重点专项2016年度项目安排进行公示的通知</td>
                        <td>12345</td>
                        <td>工信部</td>
                        <td>2016-01-01</td>
                        <td>2016-12-30</td>
                        <td>新能源汽车 重点专项 政策补贴</td>
                   	</tr>
					
					<tr title="新能源汽车领域有19个重点项目入选，共计划补贴约10.15个亿，重点围绕动力电池与电池管理、电机驱动与电力电子、电动汽车智能化、燃料电池动力系统等6个技术方向，部署38个重点研究任务。">
                    	<td>关于对国家重点研发计划“新能源汽车”等10个重点专项2016年度项目安排进行公示的通知</td>
                        <td>12345</td>
                        <td>工信部</td>
                        <td>2016-01-01</td>
                        <td>2016-12-30</td>
                        <td>新能源汽车 重点专项 政策补贴</td>
                   	</tr>
					
					<tr title="新能源汽车领域有19个重点项目入选，共计划补贴约10.15个亿，重点围绕动力电池与电池管理、电机驱动与电力电子、电动汽车智能化、燃料电池动力系统等6个技术方向，部署38个重点研究任务。">
                    	<td>关于对国家重点研发计划“新能源汽车”等10个重点专项2016年度项目安排进行公示的通知</td>
                        <td>12345</td>
                        <td>工信部</td>
                        <td>2016-01-01</td>
                        <td>2016-12-30</td>
                        <td>新能源汽车 重点专项 政策补贴</td>
                   	</tr>
					
					<tr title="新能源汽车领域有19个重点项目入选，共计划补贴约10.15个亿，重点围绕动力电池与电池管理、电机驱动与电力电子、电动汽车智能化、燃料电池动力系统等6个技术方向，部署38个重点研究任务。">
                    	<td>关于对国家重点研发计划“新能源汽车”等10个重点专项2016年度项目安排进行公示的通知</td>
                        <td>12345</td>
                        <td>工信部</td>
                        <td>2016-01-01</td>
                        <td>2016-12-30</td>
                        <td>新能源汽车 重点专项 政策补贴</td>
                   	</tr>
				
					</tbody>
                    
					<tfoot></tfoot>
            	</table>
     		</div>
                      
    
		<div style="margin-left:1px;">
			
				<div class="input-append" style="float:left; width:24%;">
      				<button class="btn" type="button" style=" font-size:13px; padding:2px 10px; margin-right:10px;">下载</button>
					<button class="btn" type="button" style=" font-size:13px; padding:2px 10px;margin-right:10px;">收藏</button>
					<button class="btn"  onclick="update_data()" type="button" style=" font-size:13px; padding:2px 10px;">上传</button>
    			</div>
			
			
				<div id="tcdPageCode" class="pagination uiPageIterator tcdPageCode" style="float:right; margin:0px; width:70%;">
        			<ul>
            			<li class="active"><a href="">1</a></li>
            			<li><a href="">2</a></li>
            			<li><a href="">3</a></li>
            			<li class="disabled"><a href="#">...</a></li>
            			<li><a href="">20</a></li>
        			</ul>
    			</div>
				
				<!--
				<div class="input-append" style="float:left;">
      				<button class="btn" type="button" style=" font-size:13px; padding:2px 10px;">上一页</button>
					<button class="btn" type="button" style=" font-size:13px; padding:2px 10px;">下一页</button>
    			</div>
				-->
			
		</div>
		
		
		
		
	</div>
	
	<div class="container_right">
		<a href="#" style=" width:99px; margin-left:0px; margin-right:0px; margin-top:3px; display:block; float:left; font-size:14.5px;">在结果中搜索 </a>
		
		<a style="width:40px;float:right;" class="btn btn-primary btn-large" href="index.html">返回</a>
		
		<!---->
		<div style="margin-top:196px;">
		    <div id="accordion" class="accordion">
        		<h5 class="menuHeader" style="background:#578DC9; color:#FFFFFF;">搜索历史</h5>
        		
				<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>
                		</div>
            		</div>
        		</div>
        
				<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>
                		</div>
            		</div>
        		</div>
				
        		<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>
                		</div>
            		</div>
        		</div>
        
				<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>
                		</div>
            		</div>
        		</div>
				
				<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>
                		</div>
            		</div>
        		</div>
				
				<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>
                		</div>
            		</div>
        		</div>
				
                <div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>
                		</div>
            		</div>
        		</div>
				
                <div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>
                		</div>
            		</div>
        		</div>
                
				
    		</div>
		</div>
		
	</div>
	
	
	
</div>	
		
	
</body>


<script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-dropdown.js"></script>


 <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://app.aireading.cn/exo-ux/js/widgets.js"></script>
    <script src="http://app.aireading.cn/exo-ux/js/jquery.js"></script>
    <script src="http://app.aireading.cn/exo-ux/js/prettify.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-transition.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-alert.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-modal.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-tab.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-popover.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-button.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-affix.js"></script>
    <script src="http://app.aireading.cn/exo-ux/js/application-update.js"></script>
	
	<script type="text/javascript" src="http://app.aireading.cn/exo-ux/js/sorttable.js"></script>
	
    <!-- syntaxhighlighter -->
    <script type="text/javascript" src="http://app.aireading.cn/exo-ux/js/google-code-prettify/prettify.js"></script>
	
	
	<script src="js/jquery.page.js"></script>
	
    <!-- Analytics -->
    <script>
        var _gauges = _gauges || [];
        (function() {
            var t = document.createElement('script');
            t.type = 'text/javascript';
            t.async = true;
            t.id = 'gauges-tracker';
            t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
        })();
		
		
		
		$("#tcdPageCode").createPage({
        		pageCount:20,
        		current:1,
        		backFn:function(p){
					
			}
    	});
		
		function update_data()
		{
			window.location.href="input.html";
		}
		
    </script>
</html>
