<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>政策和解读</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">


<!-- Le styles -->
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/Core.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/css/responsive.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/ecms/skin/ecms-resources-wcmskin.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/uxp-pattern.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/docs.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/responsive.css" rel="stylesheet">


<!-- syntaxhighlighter -->
<link href="http://app.aireading.cn/exo-ux/js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css" />
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<!-- Le fav and touch icons -->
<script src="http://app.aireading.cn/exo-ux/js/track.js" data-site-id="4f0dc9fef5a1f55508000013" id="gauges-tracker" async="" type="text/javascript"></script>
<script src="http://app.aireading.cn/exo-ux/js/ga.js" async="" type="text/javascript"></script>
<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-146052-10']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
</script>


<style>

body
{
	padding:0;
	margin:0;
	background:#578DC9;
}

.container
{
	width:970px;
	padding:0;
	margin:0;
	margin-left:auto;
	margin-right:auto;
}

.container .container_center
{
	padding:30px 60px 60px 60px;
}


.box-shadow-6{  
    box-shadow:-3px 0 3px green, /*左边阴影*/
    3px 0 3px green, /*右边阴影*/
    0 -3px 3px green, /*顶部阴影*/
    0 3px 3px green; /*底边阴影*/
}  

</style>

</head>

<body>
	
	<div class="container">
		<div class="container_center">
			<div>
				<!--
				<button style="width:10%; height:30px; background:#FFFFFF; text-align:center; float:right; line-height:28px; color:#2f5e92; font-weight:600;" onclick="user_register()">我的空间</button>
				-->
				
				<!--
				<button style="width:10%; height:30px; background:#FFFFFF; text-align:center; float:right; line-height:28px; color:#2f5e92; font-weight:600; margin-right:2%;" onclick="user_login()">登录</button>
				-->
				
			<!--
			<button class="btn" type="button" style="float:right;">我的空间</button>
			-->
			
			</div>
			
			<div style="clear:right;"></div>
			
			<h1 style="width:48%; color:#FFFFFF; margin-left:auto; margin-right:auto; text-align:center; font-size:28px; border:1px #FFFFFF solid; margin-bottom:100px; margin-top:40px;">请选择您要检索的数据库</h1>
			
			
			<div style="width:28%; height:120px; background:#FFFFFF; float:left;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;" onmouseover="move_in(this)"  onmouseout="move_out(this)" onclick="click_one('index1.html')">
				
				<h3 style="font-size:20px; text-align:center; padding-top:20px;"><a href="index1.html">政策与解读</a></h3>
				
				<div style="text-align:center; padding-top:10px; font-size:14px;text-decoration:underline;">
					<a href="index1.html?new=1" >最新政策和解读</a>
				</div>
				
			</div>
			
			
			
			<div style="width:28%; height:120px; background:#FFFFFF; float:left;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px; margin-left:8%;" onmouseover="move_in(this)"  onmouseout="move_out(this)" onclick="click_one('map.html')">
				
				<h3 style="font-size:20px; text-align:center; padding-top:20px;"><a href="map.html">地方政策详解</a></h3>
				
				<div style="text-align:center; padding-top:10px; font-size:14px;text-decoration:underline;">
					<a href="map.html?new=1">最新分类</a>
				</div>
			
			</div>
			
			
			
			<div style="width:28%; height:120px; background:#FFFFFF; float:left;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px; margin-left:8%;" onmouseover="move_in(this)"  onmouseout="move_out(this)">
				
				<h3 style="font-size:20px; text-align:center; padding-top:20px;"><a href="">车型及产销</a></h3>
				
				<div style="text-align:center; padding-top:10px; font-size:14px;text-decoration:underline;">
					<a href="">最新车型及产销</a>
				</div>
			
			</div>
			
			<div style="clear:left;"></div>
			
			
			<div style="width:28%; height:120px; background:#FFFFFF; float:left;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px; margin-top:80px; margin-left:16%;" onmouseover="move_in(this)"  onmouseout="move_out(this)" onclick="click_one('index3.html')">
				
				<h3 style="font-size:20px; text-align:center; padding-top:20px;"><a href="index3.html">国家标准</a></h3>
				
				<div style="text-align:center; padding-top:10px; font-size:14px;text-decoration:underline;">
					<a href="index3.html?new=1" >最新标准</a>
				</div>
			</div>
			
			
			<div style="width:28%; height:120px; background:#FFFFFF; float:left;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px; margin-top:80px; margin-left:16%;" onmouseover="move_in(this)"  onmouseout="move_out(this)" onclick="click_one('index2.html')">
				
				<h3 style="font-size:20px; text-align:center; padding-top:20px;"><a href="index2.html">项目</a></h3>
				
				<div style="text-align:center; padding-top:10px; font-size:14px;text-decoration:underline;">
					<a href="index2.html?new=1" >最新项目</a>
				</div>
			</div>
			
			
			
			
		</div>
	</div>

</body>


<script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-dropdown.js"></script>


 <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://app.aireading.cn/exo-ux/js/widgets.js"></script>
    <script src="http://app.aireading.cn/exo-ux/js/jquery.js"></script>
    <script src="http://app.aireading.cn/exo-ux/js/prettify.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-transition.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-alert.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-modal.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-tab.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-popover.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-button.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-affix.js"></script>
    <script src="http://app.aireading.cn/exo-ux/js/application-update.js"></script>
	
	<script type="text/javascript" src="http://app.aireading.cn/exo-ux/js/sorttable.js"></script>
	
    <!-- syntaxhighlighter -->
    <script type="text/javascript" src="http://app.aireading.cn/exo-ux/js/google-code-prettify/prettify.js"></script>
	
	
	<script src="js/jquery.page.js"></script>
	
    <!-- Analytics -->
    <script>
        var _gauges = _gauges || [];
        (function() {
            var t = document.createElement('script');
            t.type = 'text/javascript';
            t.async = true;
            t.id = 'gauges-tracker';
            t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
        })();
		
		
		
		$("#tcdPageCode").createPage({
        		pageCount:20,
        		current:1,
        		backFn:function(p){
					
			}
    	});
		
		function back()
		{
			window.location.href="index1.html";
		}
		
		function move_in(one)
		{
			$(one).addClass("box-shadow-6");
		}
		
		function move_out(one)
		{
			$(one).removeClass("box-shadow-6");
		}
		
		function click_one(one)
		{
			//window.location.href=one;
		}
		
		
		function user_register()
		{
			
		}
		
		function user_login()
		{
			//如果没登录
		}
		
    </script>
</html>
